<div id="<%= dom_id cart %>">
	<div id="cart" class="bg-white rounded p-2">
		<h2 class="font-bold text-lg mb-3">Your Products Cart</h2>
		<table class="table-auto">

			<% cart.line_items.sort_by { |item| item.created_at }.each do |line_item| %>
				<%= render partial: 'line_items/line_item', locals: { line_item: line_item } %>
			<% end %>

			<tfoot>
			<tr>
				<th class="text-left pr-2 pt-2" colspan="3">Total:</th>
				<td class="text-right pt-2 font-bold border-t-2 border-black"><%= number_to_currency(cart.total_price) %></td>
			</tr>
			</tfoot>
		</table>

		<div class="flex flex-row gap-4" data-controller="checkout">

			<%= button_to "Empty Cart", cart, method: :delete, class: "rounded-lg py-1 px-2 text-white bg-green-600" %>
			<%= button_to "Check Out",
			              new_order_path,
			              method: :get,
			              'data-checkout-target' => 'checkoutButton',
			              class: "rounded-lg py-1 px-2 text-black bg-green-200" %>
		</div>

	</div>
</div>
