<tr id="<%= dom_id product %>" class="<%= cycle('bg-green-50', 'bg-white') %>">
	<td class="px-2 py-3">
		<% if product.images.first.nil? %>
			<%= image_tag(asset_path('image-broken.svg'), class: 'size-48') %>
		<% else %>
			<%= image_tag(product.images.first.url, class: 'size-48') %>
		<% end %>
	</td>

	<td>
		<h2 class="mb-3 text-xl font-bold"><%= product.name %></h2>
		<p><%= truncate(strip_tags(product.description), length: 80) %></p>
		<p><%= product.price %> $</p>
		<p><%= product.brand.name %></p>
		<p><%= product.category.name %></p>
	</td>

	<td class="px-2 py-3">
		<div class="flex flex-col gap-4">
			<%= link_to 'Show', product, class: "gray-btn" %>
			<%= link_to 'Edit', edit_product_path(product), class: "gray-btn" %>
			<%= link_to 'Delete', product, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "gray-btn" %>
		</div>
	</td>
</tr>
