<% if notice.present? %>
	<div class="mb-5 inline-block rounded-lg bg-green-50 px-3 py-2 font-medium text-green-500 notice">
		<%= notice %>
	</div>
<% end %>
<div class="flex flex-row justify-between">
	<h1>Products</h1>
	<%= link_to "New Product", new_product_path, class: "blue-btn" %>
</div>
<table class="w-full">
	<tfoot>
	<tr>
		<td colspan="3">
			<div class="mt-8">

				<%== pagy_nav(@pagy) %>
			</div>
		</td>
	</tr>
	</tfoot>
	<tbody>
	<%= turbo_frame_tag :products do %>
		<%= render @products %>
	<% end %>

	</tbody>
</table>

