<%= turbo_frame_tag(dom_id(product)) do %>
	<li class="mb-6 flex flex-row">
		<%= button_to line_items_path(product_id: product), method: :post, class: "inline-flex items-center w-48 mr-6", form_class: "inline" do %>
			<%= image_tag(product.images.first.url, class: "object-center ") %>
		<% end %>
		<div>
			<h2><%= product.name %></h2>
			<p><%= sanitize(product.description) %></p>
			<p><%= product.brand.name %></p>
			<p><%= product.category.name %></p>
			<p><%= product.heel_height %></p>
			<div class="mt-3 flex flex-row items-center">
				<p><%= number_to_currency(product.price) %></p>
				<%= button_to 'Add to Cart',
				              line_items_path(product_id: product),
				              form_class: "inline",
				              class: "ml-4 rounded-lg py-1 px-2 bg-green-600 text-white " %>
			</div>
		</div>
	</li>
<% end %>
