<div class="w-full">
	<h1><%= t('.title_html') %></h1>
	<%= turbo_stream_from 'products' %>

	<p class="my-4"><%= raw t(('.counter'), count: session[:counter]) %></p>

	<!--	<ul>-->
	<%#= cache @products do %>
	<%# @products.each do |product| %>
	<%#= cache product do %>
	<%#= render partial: 'product', object: product %>
	<%# end %>
	<%# end %>
	<%# end %>
	<!--	</ul>-->

	<!--	<div class="items-center"-->
	<!--	     data-controller="content-loader" data-content-loader-url-value="<%#= store_lazy_load_path %>">-->
	<!--		<i class="fas fa-spinner fa-spin"></i>-->
	<!--		<span>Loading products...</span>-->
	<!--	</div>-->
	<h2>Category 1 Products</h2>
	<%= turbo_frame_tag :category1_products do %>
		<div class="flex flex-row gap-4">
			<% @category1_products.each do |product| %>
				<%= render partial: 'small_product', locals: { product: product } %>
			<% end %>
		</div>
		<%== pagy_nav(@pagy_category1_products) %>
	<% end %>



	<h2>Category 2 Products</h2>
	<%= turbo_frame_tag :category2_products do %>

		<div class="flex flex-row gap-4">
			<% @category2_products.each do |product| %>
				<%= render partial: 'small_product', locals: { product: product } %>
			<% end %>
		</div>
		<%== pagy_nav(@pagy_category2_products) %>
	<% end %>

	<h2>Category 3 Products</h2>
	<%= turbo_frame_tag :category3_products do %>

		<div class="flex flex-row gap-4">
			<% @category3_products.each do |product| %>
				<%= render partial: 'small_product', locals: { product: product } %>
			<% end %>
		</div>
		<%== pagy_nav(@pagy_category3_products) %>
	<% end %>
</div>

