<div class="w-full">
	<%= render 'notice' %>
	<h1>Products Catalog</h1>
	<%= turbo_stream_from 'products' %>

	<% if session[:counter] >= 5 %>
		<p class="my-4">You have visited this page <%= pluralize(session[:counter], 'time') %> since last product was added
			to cart</p>
	<% end %>

	<ul>
		<%= cache @products do %>
			<% @products.each do |product| %>
				<%= cache product do %>
					<%= render partial: 'product', object: product %>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</div>

