<!DOCTYPE html>
<html class="h-full">
<head>
	<title><%= t('.title') %></title>

	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>
	<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

	<%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
	<%= javascript_importmap_tags %>
	<%= hotwire_livereload_tags if Rails.env.development? %>
	<%= favicon_link_tag asset_path("shopping-cart.svg") %>
</head>

<body class="flex h-full flex-col">
<div class="flex h-auto h-full w-full flex-col">
	<%= turbo_stream_from 'carts' %>
	<header class="flex flex-row items-center gap-4 bg-green-700">
		<%= link_to image_tag(asset_path("shopping-cart.svg"), alt: 'Online Store', class: "size-12"), store_index_path %>
		<h1><%= @page_title %></h1>
		<aside data-controller="locale">
			<%= form_tag store_index_path, class: 'locale' do %>
				<%= select_tag 'set_locale', options_for_select(LANGUAGES, I18n.locale.to_s), onchange: 'this.form.submit()' %>
			<% end %>
		</aside>
	</header>
	<div class="flex h-auto min-h-full flex-row">
		<section class="flex h-full">
			<nav class="bg-green-900 p-6">
				<%= render partial: 'layouts/cart', locals: { cart: @cart } %>
				<ul class="leading-8 text-gray-300">
					<li><a href="/"><%= t('.home') %></a></li>
					<li><a href="/questions"><%= t('.questions') %></a></li>
					<li><a href="/news"><%= t('.news') %></a></li>
					<li><a href="/contact"><%= t('.contact') %></a></li>
					<li><%= DateTime.now.strftime('%d/%m/%Y %H:%M') %></li>
				</ul>

				<% if session[:user_id] %>
					<hr class="my-2">

					<ul class="leading-8 text-gray-300">
						<li><%= link_to 'Orders', orders_path %></li>
						<li><%= link_to 'Products', products_path %></li>
						<li><%= link_to 'Users', users_path %></li>
						<li><%= link_to 'Logout', logout_path, data: { turbo_method: :delete } %></li>
					</ul>
				<% end %>
			</nav>
		</section>

		<main class="mt-4 flex h-full w-full grow flex-col px-5">

			<%= turbo_frame_tag 'notice' do %>
				<% if notice.present? %>
					<%= render partial: 'store/notice', locals: { notice: notice } %>
				<% end %>
			<% end %>

			<% if alert.present? %>
				<p class="mb-5 inline-block rounded-lg bg-red-50 px-3 py-2 font-medium text-red-500" id="alert"><%= alert %></p>
			<% end %>

			<%= yield %>
		</main>

	</div>
	<footer class="w-full">
		<p>&copy; <%= DateTime.now.year %> Online Store</p>
	</footer>
</div>
</body>
</html>
